body {
    font-family: Geo;
    background-color: #5386E6;
    color: #DC81DB;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Orbitron;
    text-align: center;
    font-size: 40pt;
}

h2 {
    margin: .1em;
}

header {
    text-align: center;
}

#hero, footer {
    color: #40D3DE;
    font-size: 15pt;
    border: 2px solid #E8313A;
    text-align: center;
    padding: 10px;
}

/* Hero Section */

#hero img {
    width: 300px;
}

/* Bio Section */

#bio {
    text-align: center;
    border: 2px solid #6214FC;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Hobbies */

#hobbies {
    border: 2px solid #6214FC;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;

}

#hobbies ul li:nth-child(even) {
    color: #40D3DE;
}

/* Gallery */

#gallery {
    border: 2px solid #6214FC;
    margin-bottom: 2rem;
}

#gallery img {
    max-width: 100%;
}

#gallery figure {
    text-align: center;
}

/* Article */

#lit {
    border: 2px solid #6214FC;
    margin-bottom: 2rem;
}

#lit div {
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;
}

#lit div p {
    padding: 0.3rem 0;
    clear: both;
}

/* Video */

#video {
    border: 2px solid #6214FC;
    margin-bottom: 2rem;
}

#video figure {
    text-align: center;
}

/* Dropcaps */

#lit div p:first-child:first-letter {
    color: #E8313A;
    float: left;
    font-size: 3em;
    padding: 0.25em;
    margin-right: 0.25em;
    line-height: 0.65;
    border: 1px solid #6214FC;
}

/* Tablet Size */

@media screen and (min-width: 60em) {
    #gallery figure,
    #lit figure {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #video figure{
        display: block;
    }

    #video figcaption{
        display: block;
        font-size: 1.5rem;
        margin-top: 0.5rem;
    }

    #gallery figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2rem;
        padding: 1rem;
    }

    #figure img {
        width: 100%;
    }

    #lit div {
        max-width: 100%;
        columns: 20rem;
    }
    
}

/* Large Screen Size */
@media screen and (min-width: 100em) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr {
        display: none;
    }

    #gallery h2 {
        grid-column: 1/-1;
    }

    figure {
        display: block;
    }
}